<!DOCTYPE html>
<html lang="en" xmlns:th="">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>ShitMustGo - Thank you</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="/images/garbage-truck.png">
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/css/style2.css" rel="stylesheet" />
</head>
<body>

<!-- Navigation-->
<nav th:insert="~{fragments::navbar}"></nav>
<!-- Header-->
<header class="bg-dark py-5">
    <!--    <iframe width="420" height="300"-->
    <!--            source src="https://www.youtube.com/embed/-V8weH3c2Ow?playlist=-V8weH3c2Ow&loop=1&autoplay=1&controls=0&mute=1">-->
    <!--    </iframe>-->
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white align-items-center thankyou">
            <h1 class="display-4 fw-bolder">Shit Must Go</h1>
            <p class="lead fw-normal text-white-50 mb-0">Tack för din betalning!</p>
            <div class="row gx-4 gx-lg-5 thankyou">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" th:src="${task.image}" alt="..." /></div>
            <div class="display-5 fw-bolder" th:text="${task.title}"></div>
                <span  th:text="${task.price} + ' kr'"></span>
        </div>
        </div>
    </div>
</header>

</body>
</html>